<nav class="navbar">
    <ul>
        <li><a asp-page="/Index">Accueil</a></li>
        <li><a asp-page="/Account/Login">Connexion</a></li>
        <li><a asp-page="/Account/Register">Inscription</a></li>
        <li><a asp-page="/Contact">Contact</a></li>
    </ul>
</nav>
